.section {
  padding: 20px 0;
  background-color: #f1f1f1;
}

.section-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 1248px;
  margin: 0 auto;
}

.section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 10px;
  text-align: center;
}

.section-item img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.panel-content{
  box-shadow: -1px -1px 14px #bbb;
  border-radius: 4px;
  width: 127px;
}
